@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Source+Sans+Pro:wght@300&display=swap');
@import "../../style/color";

.header {
    width: 100%;
    display: flex;
    min-height: 50px;
    align-items: center;
    background-color: $gray-100;
    border-bottom: 1px solid $gray-300;
}

.header__link{

    color: $black;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    font-family: 'BIZ UDMincho', serif;

}