@import "color";

.header {
    width: 100%;
    display: flex;
    min-height: 50px;
    align-items: center;
    border-bottom: 1px solid $gray-300;
}

.header__image{

    width: 125px;

}

.header__image-container {

    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}