@import "color";

.book__container{

    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
    align-items: center;
    flex-direction: row;
    width: calc(100% - 40px);
    justify-content: space-around;
}

.sub-book__container{

    margin: 10px;
    width: 250px;
    height: 300px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 25px 0;
    justify-content: space-between;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);

}

.book__container__title{

    padding: 5px;
    max-width: 90%;
    font-size: 16px;
    overflow: hidden;
    color: $gray-700;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.book__container__image{

    height: auto;
    margin: 10px;
    max-width: 150px;

}